.background-image-hawaii {
  background-image: url('/Assets/Images/hawaii.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust to your preferred height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-iceland {
  background-image: url('/Assets/Images/iceland.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust to your preferred height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-greece {
  background-image: url('/Assets/Images/greece.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust to your preferred height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the container holding the cards */
.cards-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 45%;
  padding: 20px;
}

/* Style for each card */
.card {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style for the title in each card */
.card-title {

  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

/* Style for each activity in a card */
.activity {
  font-size: 1.5rem;
  background-color: #FEFAF5; /* Replace with your desired background color */
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}