body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    top: 0;
    left: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 5rem;
}

li {
    margin-right: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a.active {
    text-decoration: underline orange;
    /* color: black; */
}

.nav_header {
    color: #335576;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #FEFAF5;
    margin-top: 40px;

}

.hero-header {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 60%;
  }

  .hero-paragraph {
    font-size: 1.2em;
    margin-bottom: 30px;
    max-width: 60%;
  }

  .hero-button {
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #DB7A4E;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .hero-image {
    flex: 1;
    max-width: 600px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }      

  .main-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }

  .main_header {
    text-align: left;
    font-size: 1.5rem;
    color: #335576;
    margin-bottom: 4rem;

  }

  /* Style for the destination cards container */
  .destination-cards {
    display: flex;
      justify-content: space-around; /* Adjust spacing between cards */
      max-width: 1000px;
      margin: 0 auto;
  }

  /* Style for each destination card */
  .destination-card {
      position: relative;
      flex: 1;
      max-width: 300px;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden; /* Ensure the image and text stay within the card */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      padding: 0;
  }

  .destination-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
  }

  /* Style for the clickable link inside each destination card */
  .destination-link {
    display: block;
    height: 100%; /* Make the link take up the full height of the card */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    overflow: hidden;
  }

  /* Style for the image in each destination card */
  .destination-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Style for the text in the bottom right-hand corner */
  .destination-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    /* background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 5px;
    color: #333;
    font-weight: bold; */
  }


  .footer {
    background-color: #FEFAF5;
    color: #335576;
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    /* flex-wrap: wrap; Allow items to wrap to the next line */
  }

  /* Style for the individual footer section */
  .footer-section {
    flex: 1; /* Each section takes equal width */
    margin: 10px; /* Add some spacing between sections */
    /* justify-content: center; */
   

  }

  /* Style for the title in each section */
  .section-title {
    font-size: 1.5rem;
    color: #335576;
  }

  /* Style for the smaller text in each section */
  .small-text {
    font-size: 1rem;
    color: #DB7A4E;
 
  }

  /* Style for the larger text in each section */
  .large-text {
    font-size: 1.5rem;
    color: #335576;
  }

  /* Style for the social icons */
  .social-icons {
    display: flex;
    margin-top: 10px;
  }

  /* Style for the individual social icon */
  .social-icon {
    color: #335576;
    text-decoration: none;
    height: 30px;
    width: 30px;
  }
  
.work_box {
    height: 30%;
    width: 50%;
    padding: 5rem;
    background-color: aquamarine;
}

